{% extends 'base.html.twig' %}

{% block title %}Editar Producto{% endblock %}

{% block body %}
    <h1>Editar Producto</h1>

    {{ include('producto/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <div class="mt-4 d-flex gap-2">
        <a class="btn btn-secondary" href="{{ path('app_producto_index') }}"> Volver a la lista</a>
        
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('producto/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
