{% extends 'base.html.twig' %}

{% block title %}New Producto{% endblock %}

{% block body %}
    <h1>Create new Producto</h1>

    {{ include('producto/_form.html.twig') }}

    <div class="mt-4">
        <a class="btn btn-secondary" href="{{ path('app_producto_index') }}">Cancelar y volver</a>
    </div>
{% endblock %}
